#visualisation-controller {
  box-sizing: border-box;
  margin-top: -20px;
  height: calc(100vh - 51px);
  width: 100%;
  display: flex;
}

.visualisation-container {
  width: 100%;
  display: inline-block;
  overflow: auto;
}

.visualisation_bar_top{
  overflow: auto;
  position: relative;
  width: 100%;
  height: 10%;
  text-align:center;
}
.visualisation-main-select{
  width: 50%;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}

.visualisation-value-edit-group>button{
  margin: 2px;
  margin-left: 0px;
}
.visualisation-value-edit-group>div>div{
  display: inline-block;
  width: 100%;
}
.visualisation-value-edit-group label{
  font-size: 16px;
  margin: 8px;
}
.vis_number_input{
  float: left;
  height: 32px;
  width: 128px;
  margin: 2px;
  margin-left: 0px;
}
.vis_color_input{
  float: left;
  height: 32px;
  width: 64px;
  margin: 2px;
  margin-left: 0px;
}
.vis_check_box_input,.vis_radio_input{
  float: left;
  height: 32px;
  width: 32px;
  margin: 2px;
  margin-left: 0px;
}

.visualisation-radio{
  display: inline-block;
  width: 100%;
}
.visualisation-radio label{
  font-size: 16px;
  margin: 8px;
}

.axis line{
  stroke: #000;
}

.axis path{
  stroke: #000;
}

.visualisation-chart {
  text-align:center;
  position: relative;
  width: 100%;
  height: 90%;
  flex: 1;
}
.grid line {
  stroke: lightgrey;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}
#visualisation-canvas{
  visibility: hidden;
  display: none;
}

.visualisation_test_select{
  width: 50%;
  float: left;
}